.header-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    .logo{
        cursor: pointer;
        span{
            color: $brand-clr;
        }
        color: $muted;
        font-size: 25px;
        font-weight: 800;

    }
}